<nav class="o-primary-nav">
  <a href="{{ site.url }}">{{ site.name }}</a>
  {% if menu.items %}
    <ul>
      {% for item in menu.items %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% if item.children %}
          <ul>
            {% for child in item.children %}
              <li><a href="{{ child.url }}">{{ child.name }}</a></li>
              {% if child.children %}
                <ul>
                  {% for grandchild in child.children %}
                    <li><a href="{{ grandchild.url }}">{{ grandchild.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>
